<div id="<%= dom_id comment_reaction %>">
  <p>
    <strong>User upvoted:</strong>
    <%= comment_reaction.user_upvoted %>
  </p>

  <p>
    <strong>User downvoted:</strong>
    <%= comment_reaction.user_downvoted %>
  </p>

  <p>
    <strong>User reported:</strong>
    <%= comment_reaction.user_reported %>
  </p>

</div>
