<% content_for :title, "Editing post" %>

<h1>Editing post</h1>

<%= render "form", post: @post %>

<br>

<div>
  <%= link_to "View this post", @post %> |
  <%= link_to "Back to posts", "/admin" %>
</div>
