<div id="<%= dom_id reply_reaction %>">
  <p>
    <strong>User upvoted:</strong>
    <%= reply_reaction.user_upvoted %>
  </p>

  <p>
    <strong>User downvoted:</strong>
    <%= reply_reaction.user_downvoted %>
  </p>

  <p>
    <strong>User reported:</strong>
    <%= reply_reaction.user_reported %>
  </p>

</div>
