<h1>NavBar</h1>
<ul>
    <li><a href="/">Logo</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/articles">Articles</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/log in">Account</a></li>
</ul>