
<%= render("nav_bar")%>

<div>
    <h1>Welcome</h1>
    <p>Digx7 is a game devoloper who likes making stuff and documenting the process<br>This site is where you can find all their projects and articles</p>
</div>
<div>
    <h1>Projects</h1>
    <ul>
        <% @projects.each do |project| %>
            <li>
                <%= render partial: "posts/chip", locals: {post: project} %>
            </li>
        <% end %>
    </ul>
</div>
<div>
    <h1>Articles</h1>
    <ul>
        <% @articles.each do |article| %>
            <li>
                <%= render partial: "posts/chip", locals: {post: article} %>
            </li>
        <% end %>
    </ul>
</div>
<div>
    <h1>About</h1>
</div>
<div>
    <h1>Support</h1>
</div>
<div>
    <h1>Contact</h1>
</div>